@{
  Layout = "_Layout";
}
<h1>Welcome to our Music Organizer web app.</h1>
<h3>Add a record with an artist.</h3>
<h3><a href='/artists'>View artists</a></h3>
<a href="/artists/new">Add a new artist</a>