<!DOCTYPE html>
<html>
  <head>
    <title>Music Organizer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>