@{
  Layout = "_Layout";
}

<h1>Search for an Artist</h1>
<form action="/searches/show" method="post">
  <label for="searchTerm">Enter name</label>
  <input id="searchTerm" name="searchTerm" type="text">
  <button type="submit">Search</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/artists">Back to the Collection.</a></p>