body {
  background-color: rgb(224, 195, 252);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
