@{
  Layout = "_Layout";
}

<h1>Add an Artist</h1>
<p>Add a Artist here:</p>
<form action="/artists" method="post">
  <label for="artistName">Artist name</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/artists">Back to the Collection.</a></p>