@{
  Layout = "_Layout";
}
<h1>Enter Record to Add to the @Model.Name</h1>
<form action="/artists/@Model.Id/records" method="post">
  <div class="form-group">
    <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
    <label for="recordName">Record Name</label>
    <input id="recordName" name="recordName" type="text" required>
  </div>
  <button type="submit">Add</button>
</form>

<div class="footer">
  <a href="/">Return to Home</a>
  <a href="/artists/@Model.Id/records">View Records</a>
</div>